/* colors : 
marron : #593510
or : #C18726
beige : #FFFFB9
*/

/*HEADER*/

header {
    background-color: #593500;
    padding: 1.5em;
    font-size: 1.5em;
}


header img {
    height: 15vh;
}

header .col-lg-4 {
    text-align: center;
    padding: 0;
}

header .row {
    align-items: center;
}

header a,
header a:hover {
    text-align: center;
    text-decoration: none;
    color: #C18726;
}

@media screen and (max-width: 640px) {
    header img {
        height: 25vh;
    }
}

/*menu telephone*/

#menu a {
    color: #C18726;
    text-decoration: none;
    font-size: 15px;
    margin-right: 12px;
    vertical-align: text-bottom;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
}


#menu {
    background: #593500;
    position: relative;
}

#menu nav {
    background: inherit;
    height: 0;
    overflow: hidden;
    transition: height .2s;
}

#menu nav > * {
    display: block;
    line-height: 2.5;
    padding: 0 0;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}



#menu #burger {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
}

#menu #burger:before {
    content: url(images/iconMenu.png);
}

#menu #burger:checked:before {
    content: url(images/iconCross.png);
}

#menu #burger:checked + nav {
    height: calc(35vh - 50px);
}

/*MAINS*/

main{
    background-color: #FFFFB9;
  }

#Index, #About {
    padding: 2em;
}

  main p{
    margin: 0;
    color: #593510;
  }
  
  main a {
    text-align: center;
    text-decoration: none;
    color: #593510;
    align-self: center;
    margin-left: 1em;
  }
  
  main a:hover {
    text-decoration: none;
    color: #593510;
  }

/*MAIN INDEX*/

#Index #txt{
    text-align: center;
    margin-bottom: 2em;
  }

/*MAIN BOXES*//*MAIN ALLPRODUCTS*//*SERVICES*/

#Boxes, #Prod, #Serv {
    color: #593510;
}
#Boxes #nav, #Prod #nav, #Serv #nav {
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#Boxes #Banniere, #Prod #BanniereAp, #Serv #BanniereSe{
    background-size: cover;
    color: #c18726;
    font-size: 3em;
    padding: 2% 4%;
}
#Boxes #Banniere {
    background-image: url(images/BanniereBoite.jpg);
}

#Prod #BanniereAp {
    background-image: url(images/banniereProduit.PNG);
}
#Serv #BanniereSe {
    background-image: url(images/banniereServ.jpg);
}

#Boxes #Banniere p, #Prod #BanniereAp p, #Serv #BanniereSe p{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #FFFFB9;
}

#Boxes #Banniere p, #Prod #BanniereAp p, #Serv #BanniereSe p, .unServ h4 {
    display: inline-block;
    padding: 0 15px 0 10px;
    color: #593510;
    font-weight: bolder; 
}

#Boxes .LesBox {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 40px;
}

.aBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding: 0.5em 0.25em;
    background-color: #c1882659;
    color: #593510;
    margin: 30px 20px;
}

.aBox img {
    width: 80%;
}

/* Feuille de style portable */

@media (max-width:980px) {
    .LesBox {
        padding: 10px;
    }
    
    #Boxes, #Prod {
        font-size: 80%;
    }

    .aBox {
        flex-basis: 150px;
        margin: 10px 10px;
        text-align: center;
    }
    
    .aBox h3 {
        font-size: 20px;
    }

    .aBox h4 {
        font-size: 18px;
    }
}

/*SERVICES*/

#Serv #LesServ {
    padding: 1em 2em;
}

#Serv .unServ {
    background-color: #c1882659;
    padding: 1em;
    margin: 1em 0;
}

#Serv .unServ div {
    display: flex;
}

#Serv .unServ > div > div {
    flex-direction: column;
    justify-content: center;
    flex-basis: 75%;
}

#Serv .unServ img {
    border: 5px solid #FFFFB9;
    width: 25%;
}

#Serv .unServ h4 {
    font-size: 2em;
    margin: 0 0 10px 0;
}

#Serv .unServ p {
    padding: 10px 20px;
    font-size: 1.35em;
}

#Serv .ServNotReady {
    display: none;
}

/* Feuille de style portable */

@media (max-width:980px) {
    #Serv .unServ div {
        flex-direction: column;
    }

    #Serv .unServ p {
        padding: 10px 0;
        font-size: 0.95em;
    }

    #Serv .unServ img {
        width: 60%;
        align-self: center;
    }

    #Serv .unServ h4 {
        font-size: 1.4em;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #FFFFB9;
    }
}

/*MAIN ABOUT*/

#About #text{
    margin-left: 25vh;
    margin-right: 25vh;
}

#About #text p{
    margin: 3em;
}

#About h4{
    font-variant: small-caps;
    color: #4b2b0b;
}

#About hr{
    background-color: #4b2b0b;
}

#About .alinea{
    text-indent: 1em;
}

@media screen and (max-width: 640px) {
    #About #text{
        margin-left: 5vh;
        margin-right: 5vh;
    }
    #About #text p{
        margin: 1em;
    }

    #About a{
        font-size: 80%;
    }
}


/*FOOTER*/

footer {
    background-color: #593500;
    padding: 1.5em;
    color: #C18726;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: #C18726;
    align-self: center;
}

footer a:hover{
    color: #C18726;
}
